* {
    font-family: 'Arial', sans-serif;
}

QLabel {
    color: white;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

#titleLabelMenu {
    font-size: 50px;
    font-weight: bold;
    color: #EF2E38;
    padding: 20px;
    text-align: center;
    margin: 100px;
}

#titleLabelPortfolio {
    font-size: 30px;
    font-weight: bold;
    color: #EF2E38;
    padding: 20px;
    text-align: center;
}

#titleLabelSingleStock {
    font-size: 30px;
    font-weight: bold;
    color: #EF2E38;
    padding: 0;
    text-align: center;
}

#titleLabelSettings {
    font-size: 50px;
    font-weight: bold;
    color: #EF2E38;
    padding: 20px;
    text-align: center;
    margin: 20px;
}

#titleLabelManual {
    font-size: 50px;
    font-weight: bold;
    color: #EF2E38;
    padding: 20px;
    text-align: center;
    margin: 20px;
}

#inputLabel {
    color: white;
    font-size: 15px;
    font-weight: normal;
    border-color: transparent;
}

#inputHeaderLabel {
    font-size: 20px;
}

#volumeLabel {
    font-size: 25px;
}

#rankingLabelResult {
    font-size: 15px;
    color: white;
    border: 1px solid white;
    text-align: center;
}

#columnNameLabel {
    font-size: 15px;
    color: black;
    border: 2px solid black;
    background-color: white;
}

#resultLabel {
    font-size: 15px;
    font-weight: normal;
    border: 2px solid white;
    background-color: black;
    color: white;
    padding: 0;
}

#greenResultLabel {
    font-size: 15px;
    font-weight: normal;
    border: 2px solid white;
    background-color: black;
    color: green;
    padding: 0;
}

#redResultLabel {
    font-size: 15px;
    font-weight: normal;
    border: 2px solid white;
    background-color: black;
    color: red;
    padding: 0;
}

#riskMetricLabel {
    font-size: 15px;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

#algorithmResultSingleStock {
    font-size: 15px;
    color: white;
    text-align: center;
}

#monteProbabilityGreen {
    font-size: 15px;
    color: green;
    text-align: center;
}

#monteProbabilityRed {
    font-size: 15px;
    color: red;
    text-align: center;
}

#columnNameESG {
    font-size: 15px;
    color: black;
    background-color: white;
}

/*#errorLabel {*/
/*    color: black;*/
/*    font-size: 18px;*/
/*}*/




QPushButton {
    background-color: black;
    color: #FFF;
    font-weight: bold;
    outline: none;
    text-align: center;
}

QPushButton:hover {
    background: qlineargradient(x1:0, y1:0, x2:1, y2:1, stop:0 #AF40FF, stop:1 #00DDEB);
}

QPushButton:pressed {
    background-color: black;
}

#menuButton {
    font-size: 25px;
    padding: 15px;
    border: 3px solid qlineargradient(x1:0, y1:0, x2:1, y2:1, stop:0 #AF40FF, stop:1 #00DDEB);
}

#portfolioButton {
    font-size: 15px;
    padding: 5px;
    border: 2px solid qlineargradient(x1:0, y1:0, x2:1, y2:1, stop:0 #AF40FF, stop:1 #00DDEB);
}

#addStockButton {
    font-size: 15px;
    padding: 5px;
    border: 2px solid qlineargradient(x1:0, y1:0, x2:1, y2:1, stop:0 #AF40FF, stop:1 #00DDEB);
    border-radius: 5px;
    color: white;
}

#moreInfoButton {
    font-size: 15px;
    border: 1px solid white;
    background-color: black;
    color: white;
}

#riskMetricFrame {
    font-size: 15px;
    border: 3px solid white;
    border-radius: 10px;
    background-color: black;
    color: white;
    padding: 0;
    margin: 0;
}

#riskMetricTopLabel {
    color: white;
    font-size: 22px;
    padding: 0;
    margin: 0;
}

#riskMetricBottomLabel {
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

#addStockLabel {
    color: #3B3A3A;
    font-size: 18px;
}

#topESGLabel {
    color: #3B3A3A;
    font-size: 18px;
}

#sourceLabel {
    color: black;
    font-size: 10px;
    border-color: transparent;
}

#popUpButton {
    background-color: black;
    font-size: 15px;
    font-weight: normal;
    border-radius: 10px;
}

QPushButton:hover {
    background: qlineargradient(x1:0, y1:0, x2:1, y2:1, stop:0 #AF40FF, stop:1 #00DDEB);
}

QPushButton:pressed {
    background-color: black;
}


QVBoxLayout {

}

#singleStockVBox {
    border: 2px solid white;
}


QComboBox {
    font-size: 15px;
    border: 2px solid #555;
    border-radius: 4px;
    padding: 5px;
    min-width: 6em;
    color: white;
    background-color: #333;
}

QComboBox:hover {
    border-color: #6c757d;
}

QComboBox::drop-down {
    subcontrol-origin: padding;
    subcontrol-position: top right;
    width: 25px;
    border-left-width: 1px;
    border-left-color: #6c757d;
    border-left-style: solid;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

QComboBox::down-arrow {
    image: url('icons/down_arrow.png');
    width: 16px;
    height: 16px;
    border-radius: 10px;
}

QComboBox QAbstractItemView {
    border: 2px solid darkgray;
    selection-background-color: #6c757d;
    background-color: #333;
    color: white;
}


QMenuBar {
    background-color: #555;
    color: #FFF;
}

QMenuBar::item {
    background-color: #555;
    padding: 4px 8px;
}

QMenuBar::item:selected {
    background-color: #777;
}

QMenu {
    background-color: #555;
    border: 1px solid #333;
}

QMenu::item {
    padding: 4px 20px;
    color: #FFF;
}

QMenu::item:selected {
    background-color: #777;
}


QWidget {
}

#inputHBox {
    border: 2px solid white;
    padding: 30px;
}

#addStockVBox {
    border: 2px solid #4D4D4D;
}

/*#errorVBox {*/
/*    background-color: #874747;*/
/*    color: black;*/
/*}*/

#rankingHBox {
    border: 2px solid white;
    padding: 30px 50px;
}


QTableWidget {
    background-color: black;
    color: white;
    gridline-color: #B3B2B2;
    border: 2px solid #B3B2B2;
}

QTableWidget::item {
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid #B3B2B2;
    border-right: 1px solid #B3B2B2;
    text-align: center;
}


QRadioButton {
    spacing: 5px;
}
QRadioButton::indicator {
    width: 13px;
    height: 13px;
    border-radius: 7px;
}
QRadioButton::indicator:unchecked {
    border: 2px solid #BDBDBD;
}
QRadioButton::indicator:unchecked:hover {
    border: 2px solid #757575;
}
QRadioButton::indicator:checked {
    background-color: #3F51B5;
    border: 2px solid #3F51B5;
}
QRadioButton::indicator:checked:hover {
    background-color: #303F9F;
}


QDialog {
    background-color: #8C8C8C;
    color: black;
}


QListView::item:selected {
    background-color: darkGray;
    color: white;
}


QSlider::groove:horizontal {
    border: 1px solid #bbb;
    background: white;
    height: 10px;
    border-radius: 4px;
}

QSlider::sub-page:horizontal {
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #66e, stop:1 #bbf);
    background: qlineargradient(x1: 0, y1: 0.2, x2: 1, y2: 1, stop: 0 #5D9CEC, stop: 1 #B4E7F8);
    border: 1px solid #777;
    height: 10px;
    border-radius: 4px;
}

QSlider::add-page:horizontal {
    background: #fff;
    border: 1px solid #777;
    height: 10px;
    border-radius: 4px;
}

QSlider::handle:horizontal {
    background: qlineargradient(x1:0, y1:0, x2:1, y2:1, stop:0 #eee, stop:1 #ccc);
    border: 1px solid #777;
    width: 13px;
    margin-top: -2px;
    margin-bottom: -2px;
    border-radius: 4px;
}

QSlider::handle:horizontal:hover {
    background: qlineargradient(x1:0, y1:0, x2:1, y2:1, stop:0 #fff, stop:1 #ddd);
    border: 1px solid #444;
    border-radius: 4px;
}

QSlider::handle:horizontal:pressed {
    background: qlineargradient(x1:0, y1:0.5, x2:1, y2:1, stop:0 #aad, stop:1 #f6f7fa);
}

