* {
    font-family: 'Arial', sans-serif;
}

QLabel {
    color: white;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

#titleLabelMenu {
    font-size: 50px;
    font-weight: bold;
    color: #EF2E38;
    padding: 20px;
    text-align: center;
    margin: 100px;
}

#titleLabelPortfolio {
    font-size: 30px;
    font-weight: bold;
    color: #EF2E38;
    padding: 20px;
    text-align: center;
}

#inputLabel {
    color: white;
    font-size: 15px;
    font-weight: normal;
    border-color: transparent;
}

#inputHeaderLabel {
    font-size: 20px;
}

#rankingLabelResult {
    font-size: 15px;
    color: white;
    border: 1px solid white;
    text-align: center;
}

#columnNameLabel {
    font-size: 15px;
    color: black;
    border: 2px solid black;
    background-color: white;
}

#resultLabel {
    font-size: 15px;
    font-weight: normal;
    border: 2px solid white;
    background-color: black;
    color: white;
    padding: 0;
}

#greenResultLabel {
    font-size: 15px;
    font-weight: normal;
    border: 2px solid white;
    background-color: black;
    color: green;
    padding: 0;
}

#redResultLabel {
    font-size: 15px;
    font-weight: normal;
    border: 2px solid white;
    background-color: black;
    color: red;
    padding: 0;
}

#infoLabelSingleStock {
    font-size: 15px;
    color: white;
}

#riskMetricLabel {
    font-size: 15px;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

#algorithmResultSingleStock {
    font-size: 15px;
    color: white;
    /*border: 2px solid white;*/
    /*border-radius: 10px;*/
    /*padding: 10px;*/
    text-align: center;
}




QPushButton {
    background-color: black;
    color: #FFF;
    font-weight: bold;
    outline: none;
    text-align: center;
}

QPushButton:hover {
    background: qlineargradient(x1:0, y1:0, x2:1, y2:1, stop:0 #AF40FF, stop:1 #00DDEB);
}

QPushButton:pressed {
    background-color: black;
}

#menuButton {
    font-size: 25px;
    padding: 15px;
    border: 3px solid qlineargradient(x1:0, y1:0, x2:1, y2:1, stop:0 #AF40FF, stop:1 #00DDEB);
}

#portfolioButton {
    font-size: 15px;
    padding: 5px;
    border: 2px solid qlineargradient(x1:0, y1:0, x2:1, y2:1, stop:0 #AF40FF, stop:1 #00DDEB);
}


#addStockButton {
    font-size: 15px;
    border: 1px solid white;
    background-color: black;
    border-radius: 10px;
    color: white;
}

#moreInfoButton {
    font-size: 15px;
    border: 1px solid white;
    background-color: black;
    color: white;
}

QVBoxLayout {

}

#singleStockVBox {
    border: 2px solid white;
}

QComboBox {
    background-color: white;
}

QComboBox QAbstractItemView {
    background-color: white;
}

QMenuBar {
    background-color: #555;
    color: #FFF;
}

QMenuBar::item {
    background-color: #555;
    padding: 4px 8px;
}

QMenuBar::item:selected {
    background-color: #777;
}

QMenu {
    background-color: #555;
    border: 1px solid #333;
}

QMenu::item {
    padding: 4px 20px;
    color: #FFF;
}

QMenu::item:selected {
    background-color: #777;
}


QWidget {
}

#inputHBox {
    border: 2px solid white;
    padding: 30px;
}

#rankingHBox {
    border: 2px solid white;
    padding: 30px 50px;
    /*margin-left: 70px;*/
}





